[bumpversion]
current_version = 0.4.1
tag = True
commit = True

[bumpversion:file:custom_components/midea_dehumidifier_lan/manifest.json]

[bumpversion:file:custom_components/midea_dehumidifier_lan/const.py]

[bumpversion:file:hacs.json]
