asynctest~=0.13
coverage~=6.2
freezegun~=1.1
jsonpickle~=1.4
mock-open~=1.4
pipdeptree~=2.2
pytest-aiohttp~=0.3
pytest-cov~=2.12
pytest-freezegun~=0.4
pytest-socket~=0.4
pytest-sugar~=0.9
pytest-test-groups~=1.0
pytest-timeout~=2.0
pytest-xdist~=2.4
pytest~=6.2
requests_mock~=1.9
responses~=0.12
respx~=0.19
stdlib-list~=0.7
sqlalchemy~=1.4
tqdm~=4.49
pytest-homeassistant-custom-component>=0.5.13